<% const header = {
    button: {
        id: `close${modalId}`,
        dismissTarget: 'modal'
    },
    class: 'modal-header',
    title: {
        id: 'modalTitle',
        class: 'modal-title',
    }
}; 

const inputs = {
    presentationDisplayInput: {
        id: 'presentationDisplayInput',
        name: 'presentationDisplay',
        type: 'text',
        label: 'Presentación',
        attrs: {
            readonly: '',
            tabindex: '-1'
        }
    }
}

const totalInputs = [
    {
        id: 'totalQuantityDisplayInput',
        name: 'totalQuantity',
        type: 'number',
        label: 'Cantidad Total',
        col: '4',
        attrs: {
            readonly: '',
            tabindex: '-1'
        }
    },
    {
        id: 'totalNetPurchaseAmountDisplayInput',
        name: 'totalNetPurchaseAmount',
        type: 'number',
        label: 'Total de Compra s/ IVA',
        col: '4',
        attrs: {
            readonly: '',
            tabindex: '-1'
        }
    },
    {
        id: 'totalGrossPurchaseAmountDisplayInput',
        name: 'totalGrossPurchaseAmount',
        type: 'number',
        label: 'Total de Compra c/ IVA',
        col: '4',
        attrs: {
            readonly: '',
            tabindex: '-1'
        }
    }
];

const buttons = {
    addProductButton: {
        id: 'addProductBtn',
        class: 'btn btn-primary w-100',
        content: 'Agregar'
    },
    backButton: {
        id: `backBtn-${modalId}`,
        class: 'btn btn-link',
        content: 'Regresar',
        attrs: {
            'data-mdb-dismiss': 'modal'
        }
    },
    cancelButton: {
        id: 'cancelBtn',
        class: 'btn btn-secondary',
        content: 'Cancelar'
    },
    confirmButton: {
        id: 'confirmBtn',
        class: 'btn btn-primary',
        content: 'Confirmar'
    }
}; %>

<div class="modal fade" id="<%= modalId %>" tabindex="-1" aria-labelledby="<%= header.title.id %>">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
        
        <%- include('./header', { header }) %>

        <div class="modal-body dark">
            <form id="<%= form.id %>" class="row g-3" novalidate>
                <% if (form.selects) { %>
                    <%- include('./selectList', { inputs: form.selects }) %>
                <% } %>

                <%- include('./outlineInputList', { inputs: form.inputs }) %>

                <% if (form.checkboxes) { %>
                    <%- include('./checkboxList', { inputs: form.checkboxes }) %>
                <% } %>

                <% if (form.table) { %>
                    <div class="row g-2 mb-3 add-product-container">
                        <div class="col-3">
                            <%- include('./select', { input: form.table.select }) %>
                        </div>

                        <%- include('./outlineInputList', { inputs: form.table.inputs }) %>

                        <div class="col-2">
                            <%- include('./outlineInput', { input: inputs.presentationDisplayInput }) %>
                        </div>

                        <div class="col-4">
                            <%- include('./button', { button: buttons.addProductButton }) %>
                        </div>
                    </div>

                    <%- include('./productTable') %>

                    <div class="row g-2 mb-3 add-product-container">
                        <%- include('./outlineInputList', { inputs: totalInputs }) %>
                    </div>
                <% } %>

                <div class="col-12">
                    <%- include('./button', { button: buttons.backButton }) %>

                    <% if (form.canApprove) { %>
                        <div class="approve-container">
                            <%- include('./button', { button: buttons.cancelButton }) %>

                            <%- include('./button', { button: buttons.confirmButton }) %>
                        </div>
                    <% } %>
                    
                    <%- include('./submit') %>
                </div>
            </form>
        </div>

        </div>
    </div>
</div>