<button id="<%= button.id %>" type="button" data-mdb-ripple-init class="<%= button.class %>"
    <% for (let key in button.attrs) { %> 
        <%= key %>="<%= button.attrs[key] %>" 
    <% } %>
>
    <%- button.content %>
</button>