<ul class="navbar-nav">
    <li class="btn-group d-flex justify-content-end dropdown">
        <%- dropdown.linkSplit || '' %>

        <button <%- dropdown.toggleSplitButton.id ? `id="${ dropdown.toggleSplitButton.id }"` : '' %>
            type="button" class="<%= dropdown.toggleSplitButton.class %>" data-mdb-dropdown-init
            data-mdb-ripple-init aria-expanded="false"
        >
            <%- dropdown.toggleSplitButton.content %>
        </button>

        <ul <%- dropdown.toggleSplitButton.id ? `aria-labelledby="${ dropdown.toggleSplitButton.id }"` : '' %>
            class="dropdown-menu" 
        >
            <% dropdown.links.forEach(link => { %>
                <li>
                    <a href="<%= link.href %>" class="dropdown-item"
                        <%- link.target ? `target="${ link.target }" rel="noopener noreferrer"` : '' %>
                    >
                        <%- link.content %>
                    </a>
                </li>
            <% }); %>
            
            <% if (dropdown.logout) { %>
                <li>
                    <hr class="dropdown-divider">
                </li>

                <li>
                    <%- dropdown.logout %>
                </li>
            <% } %>
        </ul>
    </li>
</ul>