<% const button = {
    id: header.button.id,
    class: 'btn btn-primary',
    attrs: {
        'data-mdb-dismiss': header.button.dismissTarget
    },
    content: '<i class="fa-solid fa-xmark fa-lg"></i>'
}; %>

<div class="<%= header.class %>">
    <h2 id="<%= header.title.id %>" class="<%= header.title.class %>">
        <%- header.title.content %>
    </h2>

    <%- include('./button', { button }); %>
</div>