<% const buildPageURL = (page) => {

    const params = new  URLSearchParams({
        ...queryParams,
        currentPage: page
    });

    return `/${ currentRoute }?${ params.toString() }`;
}; %>

<nav aria-label="Paginación de resultados">
    <ul class="pagination pagination-circle pagination-lg justify-content-center">
        <% if (pagination.hasPrevPage) { %>
            <li class="pagination-item">
                <a href="<%= buildPageURL(pagination.currentPage - 1) %>" 
                    class="page-link"
                >
                    Anterior
                </a>
            </li>
        <% } %>

        <% pagination.visiblePages.forEach(page => { %>
            <li class="pagination-item <%= (page === pagination.currentPage) ? 'active' : '' %>"
                <% if (page === pagination.currentPage) { %> aria-current="page" <% } %>
            >
                <% if (page === pagination.currentPage) { %>
                    <span class="page-link">
                        <%= page %>
                        <span class="visually-hidden">(actual)</span>
                    </span>
                <% } else { %>
                    <a href="<%= buildPageURL(page) %>" 
                        class="page-link"
                    >
                        <%= page %>
                    </a>
                <% } %>
            </li>
        <% }); %>

        <% if (pagination.hasNextPage) { %>
            <li class="pagination-item">
                <a href="<%= buildPageURL(pagination.currentPage + 1) %>" 
                    class="page-link"
                >
                    Siguiente
                </a>
            </li>
        <% } %>
    </ul>
</nav>