<% const selectAttrs = input.attrs || {}; %>
<div>
    <select id="<%= input.id %>" name="<%= input.name %>" class="form-select w-100 <%= input.class %>"
        <% for (let key in selectAttrs) { %>
            <% if (selectAttrs[key] !== false && selectAttrs[key] !== null && selectAttrs[key] !== undefined) { %>
                <%= key %>="<%= selectAttrs[key] %>"
            <% } %>
        <% } %>>
        <option></option>
    </select>

    <%- include('./validationMessage', { 
        name: input.name, 
        errorClass: input.errorClass || 'invalid-feedback' 
    }) %>
</div>