<div class="form-check form-switch mb-3">
    <input id="<%= switchItem.id %>" type="checkbox" name="<%= switchItem.name %>" 
        aria-describedby="<%= `${ switchItem.id }Error` %>"
        role="switch" class="form-check-input"
        <%= switchItem.checked ? 'checked' : '' %>
    >

    <label class="form-check-label" for="<%= switchItem.id %>">
        <%- switchItem.content %>
    </label>

    <%- include('./validationMessage', { 
        name: switchItem.name, 
        errorClass: switchItem.errorClass || 'invalid-feedback' 
    }) %>
</div>