<% const accesses = user?.accesses || [];

const hasRole = role => accesses.some(a => a.role === role);
const hasDepartment = department => accesses.some(a => a.department === department);

const isAdmin = hasRole('Administrador del sistema');
const isSalesOrDesign = ['Ventas', 'Diseño'].some(department => hasDepartment(department));
const isWarehouse = hasDepartment('Almacén');
const isCoordinator = hasRole('Coordinador');

const canSeeAll = isAdmin;
const canSeeOnlyProducts = !canSeeAll && isSalesOrDesign;

const items = [
    {
        content: 'Almacén',
        href: '/productos',
        isActive: currentRoute === '/productos',
        isVisible: true
    },
    {
        content: 'Mermas',
        href: '/mermas',
        isActive: currentRoute === '/mermas',
        isVisible: true
    },
    {
        content: 'Compras',
        href: '/compras',
        isActive: currentRoute === '/compras',
        isVisible: canSeeAll || isWarehouse
    },
    {
        content: 'Salidas de almacén',
        href: '/salidas-almacen',
        isActive: currentRoute === '/salidas-almacen',
        isVisible: canSeeAll || !canSeeOnlyProducts
    },
    {
        content: 'Movimientos',
        href: '/movimientos',
        isActive: currentRoute === '/movimientos',
        isVisible: isAdmin
    },
    {
        content: 'Usuarios',
        href: '/usuarios-sistemas',
        isActive: currentRoute === '/usuarios-sistemas',
        isVisible: hasDepartment('SISTEMAS') && hasRole('Administrador del sistema')
    },
    {
        content: 'Perfiles',
        href: '/perfiles',
        isActive: currentRoute === '/perfiles',
        isVisible: isAdmin
    },
    {
        content: 'Clientes',
        href: '/clientes',
        isActive: currentRoute === '/clientes',
        isVisible: isAdmin
    },
    {
        content: 'Proveedores',
        href: '/proveedores',
        isActive: currentRoute === '/proveedores',
        isVisible: isAdmin
    }
].filter(item => {
    if (canSeeAll) return true;
    if (canSeeOnlyProducts) return item.href === '/productos';

    return item.isVisible;
}).map(item => ({
    ...item,
    class: `nav-link ${ item.isActive ? 'active' : ''}`
})); %>

<ul class="<%= listClass %>">
    <% items.forEach(item => { %>
        <li class="nav-item py-1">
            <a class="<%= item.class %>" href="<%= item.href %>"
                <%= item.isActive ? 'aria-current="page"' : '' %>
            >
                <%- item.content %>
            </a>
        </li>
    <% }); %>
</ul>