<% const form = {
    id: 'loginForm',
    inputs: [
        { 
            id: 'nameInput',
            name: 'name', 
            type: 'name',
            label: 'Nombre de usuario:',
        },
        { 
            id: 'passwordInput',
            name: 'password', 
            type: 'password',
            label: 'Contraseña:',
        }
    ]
} %>

<form id="<%= form.id %>" class="row g-3" novalidate>
    <%- include('../../shared/outlineInputList', { inputs: form.inputs }) %>

    <div class="col-12">
        <%- include('../../shared/checkbox', {
            input: {
                id: 'rememberCredentialsInput',
                name: 'rememberCredentials',
                type: 'checkbox',
                value: 'true',
                label: 'Recordar credenciales'
            }
        }) %>
    </div>

    <div class="col-12">
        <%- include('../../shared/submit') %>
    </div>
</form>

<script>
    window.FLASH_MESSAGE = <%- JSON.stringify(flash) %>;
</script>
<script type="module" src="/js/pages/home/loginPage.js"></script>

<%- contentFor('title') %>
Inicio
<%- contentFor('layoutType') %>
clean